body {
    font-family: "Roboto", sans-serif;
}
.container {
    background-color: #121212;
    width: 700px;
    color: #ffff;
    margin: auto;

    /* O padding é utilizado para aplicar espaçamento interno */
    padding: 30px;

    /* O border é utilizado para estilização da borda do background*/
    border: 5px solid red;
    /*O border-radius vai arredondar a borda*/
    border-radius: 10px;
}